body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.chat-container {
  width: 380px;
  height: 550px;
  background: #1e293b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header */
.chat-header {
  background: #2563eb;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/* Chatbox */
.chatbox {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* Messages */
.message {
  max-width: 75%;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  font-size: 14px;
}

/* User */
.user {
  background: #3b82f6;
  color: white;
  margin-left: auto;
}

/* Bot */
.bot {
  background: #334155;
  color: white;
  margin-right: auto;
}

/* Input */
.input-area {
  display: flex;
  padding: 10px;
  background: #0f172a;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

button {
  margin-left: 8px;
  padding: 10px 15px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}